* {
  margin: 0;
  padding: 0;
}

.nav-bar a {
  text-decoration: none;
  color: gray;
  font-weight: 900;
  padding: 15px;
}

.navi {
  width: 100%;
  height: 50px;
  margin-top: -1px;
  padding: 0;
  background-color: gray;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav-bar {
  width: 100%;
  height: 45px;
  display: flex;
  background: linear-gradient(to right, #acddfd, rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195), #acddfd);
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.nav-bar li {
  text-decoration: none;
  color: gray;
  font-weight: 900;
  padding: 15px;
}

.navigator {
  background: linear-gradient(to right, #acddfd, rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195), #acddfd);
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: 5px solid gray;
  color: gray;
}
.navigator .apple-name {
  width: 30px;
  margin-bottom: 5%;
}
.navigator .name {
  font-size: 200%;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0%;
  margin: 0%;
}
.navigator div .navigator3ul {
  margin: 0% auto;
  gap: 15%;
  color: gray;
  font-weight: bold;
  font-size: 130%;
}

.navigator2 {
  border-bottom: 5px solid gray;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  padding: 0;
  font-weight: bold;
}
.navigator2 li {
  color: gray;
  font-weight: bold;
  background: linear-gradient(to top, #acddfd, rgb(251, 227, 195), rgb(251, 227, 195), #acddfd);
}
.navigator2 a:hover {
  background-color: #acddfd;
}
.navigator2 a {
  color: gray;
  font-weight: bold;
  border-top: 3px solid gray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Styling for the dropdown menu items */
.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(to right, rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195));
  min-width: 170%;
  box-shadow: 3px 5px 6px rgba(60, 60, 60, 0.698);
  padding: 0;
  z-index: -1;
  list-style: none;
  border: 4px solid gray;
  border-bottom: 2px solid gray;
  margin: 0;
  text-align: center;
}
.dropdown-content li {
  border: 1px solid gray;
  margin: 0;
  padding: 10px 0px;
  background-image: url("../multimedia/a3351b05-bde9-4b92-bd85-4119745de732.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Adjust text color for visibility */
}
.dropdown-content a {
  letter-spacing: 0.2rem;
  border-bottom: 4px solid gray;
  padding: 0px 16px;
  margin: 0;
  background-color: rgba(60, 60, 60, 0.498);
  font-size: 95%;
  color: #acddfd;
  font-style: italic;
}

/* Show the dropdown menu when hovering over the parent element */
.dropdown:hover .dropdown-content {
  display: block;
}

.acatoy {
  list-style: inside;
}

.types_of_diet {
  margin-top: 0%;
  padding: 0px;
  width: 45%;
  height: 100%;
  position: sticky;
  left: 90%;
  border: 5px solid gray;
  border-top: 0px;
  border-radius: 0px 0px 0px 20px;
  top: 0%;
  box-shadow: 5px 5px rgba(60, 60, 60, 0.198);
}
.types_of_diet h3 {
  background: linear-gradient(to right, rgb(251, 227, 195) 0.001%, #acddfd);
  border-bottom: 3px solid gray;
  text-align: center;
  color: gray;
  font-size: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0%;
}

.diets {
  list-style: none;
  overflow: hidden;
}
.diets li {
  padding: 2%;
  font-size: 20px;
  text-align: center;
  border: 2px solid gray;
  border-top: 0px;
  margin-top: 0%;
}
.diets a {
  text-decoration: none;
  color: rgb(62, 171, 205);
}

.xl {
  height: 300px;
  flex-direction: column;
  background: linear-gradient(to top, #acddfd, rgb(251, 227, 195), rgb(251, 227, 195), #acddfd);
}

.xs {
  height: 50px;
  background-color: #acddfd;
}

.gray {
  color: gray;
  font-weight: 900;
}

.trans {
  background: rgba(172, 221, 253, 0);
}

.fa:hover {
  box-shadow: 5px 5px rgba(60, 60, 60, 0.198);
  cursor: grab;
  transition: 0.3s;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(13, 109, 253, 0.4274509804);
}

.copy:hover {
  transition: 0.7s ease;
  cursor: -moz-zoom-in;
  padding: 0.5% 7% 0.5% 7%;
  background-color: rgb(251, 227, 195);
  border: 4px solid #acddfd;
  font-size: 170%;
  text-decoration: 0.1px underline;
}

header {
  width: 100%;
  height: 200px;
}

.carousel-inner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sep {
  display: flex;
  justify-content: center;
}

.tituloHome {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}
.tituloHome h1 {
  background-color: rgb(251, 227, 195);
  font-size: 200%;
  padding: 0.3% 1.9% 0.3% 1.9%;
  position: absolute;
  margin-top: 0%;
  border-radius: 0px 0px 50px 50px;
  border: 3px solid gray;
  border-top: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, cursive;
  color: gray;
  font-weight: 900;
}

.tituloAbo {
  position: relative;
  z-index: 0;
  display: flex;
}
.tituloAbo h1 {
  background-color: rgb(251, 227, 195);
  font-size: 200%;
  padding: 0.3% 1.9% 0.3% 1.9%;
  position: absolute;
  margin-top: 0%;
  left: 62%;
  top: 0px;
  border-radius: 0px 0px 50px 50px;
  border: 3px solid gray;
  border-top: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, cursive;
  color: gray;
  font-weight: 900;
}
.tituloAbo p {
  margin-top: 4%;
  padding: 3%;
}

.titulo_diet {
  width: 170%;
}
.titulo_diet h2 {
  color: gray;
  text-decoration: underline;
  font-size: 300%;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 8% 0% 0% 2%;
  padding-bottom: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, cursive;
}
.titulo_diet h3 {
  color: gray;
  font-size: 170%;
  font-weight: bold;
  padding: 5% 0% 0% 3%;
  padding-bottom: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, cursive;
}
.titulo_diet p {
  letter-spacing: 0.1rem;
  width: 95%;
  padding-left: 3%;
  margin-bottom: 5%;
  text-align: justify;
}

.titulo_contact {
  width: auto;
  height: 100%;
  padding: 0;
  margin: 150px;
  margin-top: 0px;
  margin-bottom: 70px;
  border: 10px solid gray;
  border-top: 1px solid gray;
}
.titulo_contact h1 {
  margin-top: 3%;
  padding: 0;
  position: sticky;
  top: 45px;
  font-size: 300%;
  letter-spacing: -4px;
  font-family: "Times New Roman";
  color: gray;
  text-decoration: 3px underline;
  text-align: center;
  background-color: white;
}

.texto {
  width: 100%;
  padding: 100px 20px 0px 30px;
}

.text {
  width: 100%;
  text-align: justify;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
}

.photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 4% 1% 0% 2%;
}

.juli {
  letter-spacing: 2px;
  font-size: 135%;
}

@media (max-width: 1250px) {
  .juli {
    font-size: 85%;
  }
}
.textoAbo {
  width: 95%;
  margin: 0px 30px 0px 30px;
}
.textoAbo h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, cursive;
  margin-top: 3%;
  margin-bottom: 1%;
}

.subrayado {
  font-style: italic;
}

.list_abo {
  margin-top: 1%;
  margin-left: 10%;
}
.list_abo li {
  font-size: 150%;
  padding-top: 1%;
}

.textoDiet {
  width: 96%;
  padding: 2%;
  margin-top: -6%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, cursive;
}
.textoDiet h2 {
  padding-top: 5%;
}

.logo_hambur {
  width: 10%;
}

.video {
  width: 70%;
  height: 300px;
  display: block;
  margin: 3% auto;
  border-radius: 10px;
}

.logo {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.nutri {
  width: 40%;
  height: 40%;
  margin-right: 2%;
  border-top: solid 5px gray;
  border-right: solid 10px gray;
  border-bottom: solid 5px gray;
  border-left: solid 10px gray;
}

.fotos-diet {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 1%;
}

.fotos-diet img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5 ease;
}

.fotos-diet img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.formuContact {
  display: grid;
  row-gap: 10px;
  margin: 5%;
}

.formuContact .dato {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 90%;
  margin: 5%;
}

.form-sex {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  border: 1px solid gray;
}

.formuContact .dato input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.formuContact button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
  margin: 10px;
  border: 5px solid gray;
  border-radius: 5px;
  margin-top: 5%;
  padding: 1vh;
  color: rgb(128, 128, 128);
}

.formuContact button:hover {
  transition: 0.5s ease all;
  background-color: #acddfd;
}

.formuContact .dato input:focus {
  outline: none;
  border-bottom: 3px solid gray;
}

.formuContact h4 {
  color: rgb(128, 128, 128);
  text-decoration: gray 2px underline;
}

.formuContact h3 {
  color: rgb(128, 128, 128);
}

@media (max-width: 576px) {
  .titulo_contact {
    width: 80%;
    margin: 0 auto;
  }
  .titulo_contact h1 {
    font-size: 200%;
  }
  .titulo_diet h2 {
    padding-top: 3em;
    letter-spacing: 0.1rem;
  }
  .aboutitle {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 450%;
    opacity: 50%;
    top: 15%;
    color: gray;
    font-weight: 900;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 4000px) {
  .card {
    width: calc(50% - 20px);
    margin: 60px;
  }
}
@media (max-width: 730px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media (max-width: 430px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 729px) {
  .navi {
    display: none;
  }
  .barra-celu {
    background-color: black;
  }
}
@media (min-width: 730px) {
  .navcelu {
    display: none;
  }
}
.shop {
  background: linear-gradient(to right, #acddfd, rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195), #acddfd);
  margin-bottom: -1%;
  padding-bottom: 1%;
  font-size: 59px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: gray;
  letter-spacing: 4px;
  text-align: center;
}

.tarjetero {
  border-top: 10px double gray;
  border-bottom: 10px double gray;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(to right, #acddfd, rgb(251, 227, 195), rgb(251, 227, 195), rgb(251, 227, 195), #acddfd);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.card p:not(:last-child) {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

/*# sourceMappingURL=styles.css.map */
