
@media(max-width:576px){
    .titulo_contact{
        width: 80%;
        margin: 0 auto;        
    }
    .titulo_contact h1{
       font-size: 200%;
    }
    .titulo_diet h2{
        padding-top: 3em;        
        letter-spacing:.1rem;
        
    }
    .aboutitle{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 450%;
    opacity: 50%;
    top:15%;
    color: $color-text;
    font-weight: 900;
    position: absolute;     
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
@media (max-width: 4000px) {
    .card {
      width: calc(50% - 20px);
      margin:60px
    }
  }
@media (max-width: 730px) {
    .card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 430px) {
    .card {
      width: 100%;      
    }
  }
  @media (max-width: 475px) {
    .gray {
      font-size: 140%;      
    }
  }
  @media (max-width: 380px) {
    .gray {
      font-size: 100%;      
    }
    .cards {
      width: 100%;      
    }
  }
  
  @media (max-width: 729px) {
    .navi {
      display: none;
  }  
  .tituloHome{
    h1{
      font-size: 100%;
    }
  }
  .titulo_diet{
    .tituloHome{
      h1{
        font-size: 210%;
        box-sizing: border-box;
        padding:0% 9%;
        font-family: 'Courier New', Courier, monospace;
      }
    }
    h2{
      padding:20% 0% 0% 2%; 
    }
  }
  .tituloAbo {
    
    h1{
      left:50%;
      font-size: 140%;
    }
  }
  .photo{
    display: flex;
    flex-direction: column;
    .nutri {
      margin-bottom: 5%;
      width: 100%;
      height: 100%;
    }
  }
  .titulo_contact{
    h1{
      top:66px;    
      letter-spacing: 0px;
      font-size: 120%;
      background-color: white;
      text-decoration: 1px underline;  
      padding-bottom: 3%;  
    }
  }
  
  .barra-celu{
    background-color: black;
  }
  }
  @media (max-width: 450px) {
    .tituloHome{
      h1{
        font-size: 92%;
      }
    }
  }
  @media (max-width: 328px) {
    .tituloHome{
      h1{
        font-size: 85%;
      }
    }
  }
  @media (min-width: 730px) {
    .navcelu {
      display: none;
    }
  }